#btn_apropos {
  background-color: #ffffff;
  color: #0a4580;
  border: none;
  border-radius: 12px;
  padding: "1rem 2.5rem";
  font-size: 1.3rem;
  font-weight: bold;
  cursor: "pointer";
  transition: "all 0.3s ease";
  box-shadow: "0 4px 12px rgba(0, 0, 0, 0.15)";
  padding: 0.5rem;
}
#btn_apropos:hover {
  background-color: #ff6f00;
  color: white;
}
